*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: flex; */
}

.container{
    border: 10px solid #1D1E4C;
    /* height: 200vh; */
    background-color: #E5E5FD;
}

.full-content{
    max-width: 900px;
    margin: 0 auto;
}

/* img & name section */
.img-section, img{
    width: 280px;
    height: 290px;
    border-radius: 15%;
}

.top_section{
  display: flex;
  margin-top: 73px;
  align-items: flex-end;
  justify-content: space-between;
}

.name h1{
  font-size: 50px;
  color: #1d1e4c;
  /* margin-top: 0px; */
}

/* img & name section ends here */

/* about section */
.about_section{
  margin-top: 40px;
}

.about_section h2{
  font-size: 60px;
  margin-top: 0%;
}

h4{
  font-size: 30px;
  /* text-align: cente; */
  margin-bottom: 20px;
}

.about_section p{
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: justify;
}
/* about section ends here  */

/* bio section */
.bio_section{
  margin-top: 50px;
}

.bio_section h3{
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.bio_section ul{
  margin-left: 50px;
}

.bio_section li{
  font-size: 22px;
  letter-spacing: 1px;
  /* line-height: 25px; */
  margin-bottom: 10px;
  text-align: justify;
}
/* bio section ends here */

/* footer code */
footer{
  margin-top: 65px;
  margin-bottom: 20px;
  margin-left: 225px;
}
footer p{
  font-size: 22px;
  text-align: end;
}

footer a{
  text-decoration: none;
}
/* footer code ends here */


/* SCROLLING IMAGE CODE */

    .slide-container{
    max-width: 1520px;
    width: 87%;
    /* background-color: grey; */
    padding: 10px;
}

.slide-content{
    margin: 0px 40px;
    overflow: hidden;
}

.card{
    /* width: 30px; */
    border-radius: 45px;
    background-color: #fff;
}

.image-content{
    /* position: relative; */
    /* row-gap: 5px; */
    padding: 20px ;
    width: 198px;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    /* height: 100%;
    width: 50px;
    background-color: #4070f4; */
    /* border-radius: 25px 25px 0px 25px; */
}

/* joh img ke piche ke white box hai uska code hai */
.card-image{
    /* position: relative; */
    height: 230px;
    background: #fafafa;
    /* align-items: center;
    justify-content: center; */
    /* border-radius: 50%; */
    /* padding: 23px; */
}

/*joh photo displayed hai uska hai */
.card-image .card-img{
    height: 100%;
    width: 260px;
    /* justify-items: center; */
    object-fit: cover;
    /* border-radius: 50%; */
    border: 4px solid #4070f4;
}

.swiper-navBtn{
    color: #6e93f7;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover
{ 
    color: #4070f4; 
}

.swiper-navBtn::before, 
.swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next{
    right: 40px;
}

.swiper-button-prev{
    left: 40;
}

.swiper-pagination-bullet{
    background-color: #6e93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #4070f4
}

@media screen and (max-width: 768px){
    .slide-content
    {
    margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}

/* scrolling IMAGE code ends here */